<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hub</title>
    <script type="text/javascript" src="/cross-storage/dist/hub.min.js"></script>
    <script type="text/javascript">
        window.CrossStorageHub.init([
            {
                origin: /localhost:3030$/,
                allow: ['get']
            }
        ]);
    </script>
</head>

<body>

</body>

</html>
